/*imports*/
@font-face {
    font-family: "My Fonts";
    src: url(../assets/fonts/Bebas-neue/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid; */
}
body {
    background-color: #080324;
    color: white;
}
header {
    height: 60px;
    background-color: #f9003d;
}

/*header*/
header .header-flex {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    /* background-color: #f9003d; */
}

header nav {
    width: 500px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* border: 3px solid white; */
}

header nav a {
    font-family: "My Fonts";
    color: white;
    text-decoration: none;
    font-size: 0cm 18px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px black;
    padding: 15px 20px;
    border-radius: 5px;

}

header nav a:hover {
    text-shadow: 0px 0px 5px rgba(249, 0, 61, 0.3);
    background-color: white color #F9003D;
}

/*main*/
main .banner {
    height: 740px;
    background-color: aquamarine;
    background-image: url(../assets/Images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner-flex{
    display: flex;
    align-items: center;
    height: 100%;
}

main .banner-flex #banner-infobox {
    width: 560px;
    /* border: 5px solid beige; */
}

main .banner-flex h1 {
    margin-bottom: 40px;
    font-family:My Fonts;
    font-size: 96px;
    color: white;
}

main .banner-flex p {
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}
*/sobre*/

main. sobre. h2 {
    font-famiy: BebasNeue-Regular;
    font-size: 64px;
    color: #F9003D;
   
}
      
main. sobre. linha {
    display: flex;
    justify-content: space-between;
}
   
main. sobre. linha img {
    width: 490px;
    border: 2px solid yellow;
}

}
